<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
	<test name="TestDemo">
	<parameter name="browserName" value="chrome"/>
	<parameter name="author" value="Nidhi"/>
		<classes>
			<class name="com.CrossBrowser.TestClass_012" >
			<methods>
				<include name="TestDemo"/> 
			</methods>
			</class>
		</classes> 
	</test> <!-- Test -->
	<test name="TestFacebook">
	<parameter name="browserName" value="chrome"/>
	<parameter name="author" value="Nithya"/>
		<classes>
			<class name="com.CrossBrowser.TestClass_012" >
			<methods>
				<include name="TestFacebook"/>
			</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->